<section class="comment-section">
  <div class="container">
    <h4><b>POST COMMENT</b></h4>
    <div class="row">

      <div class="col-lg-8 col-md-12">

        <div class="comment-form">
          <form (ngSubmit)="postComment()" onsubmit="this.reset(); return false;">
            <div class="row">

              <div class="col-sm-6" *ngIf="!authService.isLoggedIn()">
                <input type="text" aria-required="true" name="contact-form-name" class="form-control"
                  placeholder="Enter your name" aria-invalid="true" required [(ngModel)]="commentForPost.c_writer" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-sm-6" *ngIf="authService.isLoggedIn()">
                <p>작성자 : {{loggedInUser.u_name}}</p>
              </div>
              <div class="col-sm-6" *ngIf="!authService.isLoggedIn()">
                <input type="text" aria-required="true" name="contact-form-email" class="form-control"
                  placeholder="Password" aria-invalid="true" required [(ngModel)]="commentForPost.c_pw" [ngModelOptions]="{standalone: true}">
              </div>

              <div class="col-sm-12">
                <textarea name="contact-form-message" rows="2" class="text-area-messge form-control"
                  placeholder="Enter your comment" aria-required="true" aria-invalid="false" [(ngModel)]="commentForPost.c_content" [ngModelOptions]="{standalone: true}"></textarea >
              </div>
              <div class="col-sm-12">
                <button class="submit-btn" type="submit" id="form-submit"><b>POST COMMENT</b></button>
              </div>


            </div>
          </form>
        </div>


        <div class="commnets-area" *ngFor="let c of comments">
        <app-comment-card [comment]=c></app-comment-card>
        </div>

        <a class="more-comment-btn" href="#"><b>VIEW MORE COMMENTS</b></a>

      </div>

    </div>

  </div>
</section>
