<section class="post-area section">
  <div class="container">

    <div class="row">

      <div class="col-lg-8 col-md-12 no-right-padding">

        <div class="main-post">

          <div class="blog-post-inner">

            <div class="post-info">

              <div class="left-area">
                <a class="avatar" href="#"><img src="assets/images/avatar-1-120x120.jpg" alt="Profile Image"></a>
              </div>

              <div class="middle-area">
                <a class="name" href="#"><b>{{detailPage.u_id}}&nbsp;</b></a>
                <h6 class="date">작성일&nbsp;{{detailPage.d_date}}</h6>
              </div>

            </div>
            <!-- post-info -->

            <h3 class="title"><a href="#"><b>{{detailPage.d_title}}</b></a></h3>

            <p class="para">{{detailPage.d_content}}</p>

            <div class="post-image"><img src="assets/images/blog-1-1000x600.jpg" alt="Blog Image"></div>

            <p class="para">{{detailPage.d_content}}</p>

            <ul class="tags">
              <li><a href="#">태그Mnual</a></li>
              <li><a href="#">태그Liberty</a></li>
              <li><a href="#">태그Recommendation</a></li>
              <li><a href="#">태그Inspiration</a></li>
            </ul>
          </div>
          <!-- blog-post-inner -->

          <div class="post-icons-area">
            <ul class="post-icons">
              <li><a href="#"><i class="ion-heart"></i>좋아요{{detailPage.d_likeCount}}</a></li>
              <li><a href="#"><i class="ion-chatbubble"></i>댓글수{{detailPage.d_commentCount}}</a></li>
              <li><a href="#"><i class="ion-eye"></i>조회수{{detailPage.d_viewCount}}</a></li>
            </ul>

            <ul class="icons">
              <li>SHARE : </li>
              <li><a href="#"><i class="ion-social-facebook"></i></a></li>
              <li><a href="#"><i class="ion-social-twitter"></i></a></li>
              <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
            </ul>
          </div>

          <div class="post-footer post-info">

            <div class="left-area">
              <a class="avatar" href="#"><img src="assets/images/avatar-1-120x120.jpg" alt="Profile Image"></a>
            </div>

            <div class="middle-area">
              <a class="name" href="#"><b>Katy Liu</b></a>
              <h6 class="date">on Sep 29, 2017 at 9:48 am</h6>
            </div>


          </div>
          <!-- post-info -->


        </div>
        <!-- main-post -->
      </div>
      <!-- col-lg-8 col-md-12 -->

      <div class="col-lg-4 col-md-12 no-left-padding">

        <div class="single-post info-area">

          <div class="sidebar-area about-area">
            <h4 class="title"><b>펀딩 현황</b></h4>
            <p>목표 펀딩액 : {{detailPage.d_goalmoney}}</p><br />
            <p>현재 펀딩액 : {{detailPage.d_currentmoney}}</p><br />

          </div>

          <div class="sidebar-area subscribe-area">

            <h4 class="title"><b>작성자한테 이메일보내기</b></h4>
            <div class="input-area">
              <form>
                <input class="email-input" type="text" placeholder="Enter your email">
                <button class="submit-btn" type="submit"><i class="icon ion-ios-email-outline"></i></button>
              </form>
            </div>

          </div>
          <!-- subscribe-area -->

          <div class="tag-area">

            <h4 class="title"><b>TAG CLOUD</b></h4>
            <ul>
              <li><a href="#">Manual</a></li>
              <li><a href="#">Liberty</a></li>
              <li><a href="#">Recomendation</a></li>
              <li><a href="#">Interpritation</a></li>
              <li><a href="#">Manual</a></li>
              <li><a href="#">Liberty</a></li>
              <li><a href="#">Recomendation</a></li>
              <li><a href="#">Interpritation</a></li>
            </ul>

          </div>
          <!-- subscribe-area -->

        </div>
        <!-- info-area -->

      </div>
      <!-- col-lg-4 col-md-12 -->

    </div>
    <!-- row -->

  </div>
  <!-- container -->
</section>
<!-- post-area -->
