<section class="recomended-area section">
  <div class="container">
    <div class="row">

<div class="col-lg-4 col-md-6" *ngFor="let c of cards">
      <app-recomend [card]=c></app-recomend>
</div><!-- col-md-6 col-sm-12 -->
      <!-- <div class="col-lg-4 col-md-6">
        <div class="card h-100">
          <div class="single-post post-style-1">

            <div class="blog-image"><img src="assets/images/caroline-veronez-165944.jpg" alt="Blog Image"></div>

            <a class="avatar" href="#"><img src="assets/images/icons8-team-355979.jpg" alt="Profile Image"></a>

            <div class="blog-info">
              <h4 class="title"><a href="#"><b>How Did Van Gogh's Turbulent Mind Depict One of the Most Complex
                Concepts in Physics?</b></a></h4>

              <ul class="post-footer">
                <li><a href="#"><i class="ion-heart"></i>57</a></li>
                <li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
                <li><a href="#"><i class="ion-eye"></i>138</a></li>
              </ul>
            </div>

          </div>

        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card h-100">
          <div class="single-post post-style-1">

            <div class="blog-image"><img src="assets/images/marion-michele-330691.jpg" alt="Blog Image"></div>

            <a class="avatar" href="#"><img src="assets/images/icons8-team-355979.jpg" alt="Profile Image"></a>

            <div class="blog-info">
              <h4 class="title"><a href="#"><b>How Did Van Gogh's Turbulent Mind Depict One of the Most Complex
                Concepts in Physics?</b></a></h4>

              <ul class="post-footer">
                <li><a href="#"><i class="ion-heart"></i>57</a></li>
                <li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
                <li><a href="#"><i class="ion-eye"></i>138</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div> -->

    </div>

  </div>
</section>
