

  <div class="comment">

    <div class="post-info">

      <div class="left-area">
        <a class="avatar" href="#"><img src="assets/images/avatar-1-120x120.jpg" alt="Profile Image"></a>
      </div>

      <div class="middle-area">
        <a class="name" href="#"><b>{{comment.c_writer}}</b></a>
        <h6 class="date">{{comment.c_date}}</h6>
      </div>

      <div class="right-area">
        <h5 class="reply-btn" ><a href="javascript:void(0)" (click)="clickRemove()"><b>X</b></a></h5>
        <h5 class="reply-btn" ><a href="javascript:void(0)" (click)="clickReply()"><b>REPLY</b></a></h5>
      </div>

    </div>

    <p>{{comment.c_content}}</p>

  </div>



  <div class="comment-form" *ngIf="replyToggle">
    <form (ngSubmit)="postReply()">
      <div class="row">

        <div class="col-sm-6" *ngIf="authService.isLoggedIn()">
          <p>작성자 : {{loggedInUser.u_name}}</p>
        </div>
        <div class="col-sm-6" *ngIf="!authService.isLoggedIn()">
          <input type="text" aria-required="true" name="contact-form-name" class="form-control"
            placeholder="Enter your name" aria-invalid="true" required [(ngModel)]="replyForPost.r_writer" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="col-sm-6" *ngIf="!authService.isLoggedIn()">
          <input type="text" aria-required="true" name="contact-form-email" class="form-control"
            placeholder="Password" aria-invalid="true" required [(ngModel)]="replyForPost.r_pw" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="col-sm-12">
          <textarea name="contact-form-message" rows="2" class="text-area-messge form-control"
            placeholder="Enter your comment" aria-required="true" aria-invalid="false" [(ngModel)]="replyForPost.r_content" [ngModelOptions]="{standalone: true}"></textarea >
        </div>
        <div class="col-sm-12">
          <button class="submit-btn" type="submit" id="form-submit"><b>POST REPLY</b></button>
        </div>



      </div>
    </form>
  </div>



  <div class="comment" *ngFor="let reply of replies">
    <h5 class="reply-for">Reply for <a href="#"><b>{{comment.c_writer}}</b></a></h5>

    <div class="post-info">

      <div class="left-area">
        <a class="avatar" href="#"><img src="assets/images/avatar-1-120x120.jpg" alt="Profile Image"></a>
      </div>

      <div class="middle-area">
        <a class="name" href="#"><b>{{reply.r_writer}}</b></a>
        <h6 class="date">&nbsp;{{reply.r_date}}</h6>
      </div>

      <div class="right-area">
        <h5 class="reply-btn" ><a href="javascript:void(0)" (click)="clickReplyRemove(reply)"><b>X</b></a></h5>
      </div>

    </div>

    <p>{{reply.r_content}}</p>

  </div>
