

  <div class="comment">

    <div class="post-info">

      <div class="left-area">
        <a class="avatar" href="#"><img src="assets/images/avatar-1-120x120.jpg" alt="Profile Image"></a>
      </div>

      <div class="middle-area">
        <a class="name" href="#"><b>{{comment.c_writer}}</b></a>
        <h6 class="date">{{comment.c_date}}</h6>
      </div>

      <div class="right-area">
        <h5 class="reply-btn" ><a href="#"><b>REPLY</b></a></h5>
      </div>

    </div>

    <p>{{comment.c_content}}</p>

  </div>

  <div class="comment" *ngFor="let reply of replies">
    <h5 class="reply-for">Reply for <a href="#"><b>{{comment.c_writer}}</b></a></h5>

    <div class="post-info">

      <div class="left-area">
        <a class="avatar" href="#"><img src="assets/images/avatar-1-120x120.jpg" alt="Profile Image"></a>
      </div>

      <div class="middle-area">
        <a class="name" href="#"><b>{{reply.c_writer}}</b></a>
        <h6 class="date">&nbsp;{{reply.c_date}}</h6>
      </div>

      <div class="right-area">
        <!-- <h5 class="reply-btn" ><a href="#"><b>REPLY</b></a></h5> -->
      </div>

    </div>

    <p>{{reply.c_content}}</p>

  </div>
