
  <div class="card h-100">
    <div class="single-post post-style-1">

      <div class="blog-image"><img src="assets/images/{{card.mainImg}}" alt="Blog Image"></div>

      <a class="avatar" href="#"><img src="assets/images/{{card.profileImg}}" alt="Profile Image"></a>

      <div class="blog-info">

        <h4 class="title"><a href="#"><b>{{card.text}}</b></a></h4>

        <ul class="post-footer">
          <li><a href="#"><i class="ion-heart"></i>{{card.like}}</a></li>
          <li><a href="#"><i class="ion-chatbubble"></i>{{card.comment}}</a></li>
          <li><a href="#"><i class="ion-eye"></i>{{card.viewCount}}</a></li>
        </ul>

      </div><!-- blog-info -->
    </div><!-- single-post -->
  </div><!-- card -->
