<header>
  <div class="container-fluid position-relative no-side-padding">

    <a [routerLink]="['home']" class="logo"><img src="assets/images/logo.png" alt="Logo Image"></a>

    <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

    <ul class="main-menu visible-on-click" id="main-menu">
      <li><a href="#">INVEST</a></li>

      <!-- <li><a [routerLink]="['signin']">Sign in</a></li>
      <li><a [routerLink]="['signup']">Sign up</a></li> -->
      <li *ngIf="authService.isLoggedIn()">
        <a data-toggle="modal" href="javascript:void(0)" (click)="logout()">Log out</a>
        <app-signin></app-signin>
      </li>
      <li *ngIf="!authService.isLoggedIn()">
        <a data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Log in</a>
        <app-signin></app-signin>
      </li>
      <li *ngIf="authService.isLoggedIn()"><a href="#">My Page</a></li>
      <li *ngIf="authService.isLoggedIn()"><a [routerLink]="['editor']">Editor</a></li>
      <li *ngIf="authService.isLoggedIn()"><a [routerLink]="['fileupload']">fileupload</a></li>



    </ul><!-- main-menu -->



    <div class="src-area">
      <form>
        <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
        <input class="src-input" type="text" placeholder="Type of search">
      </form>
    </div>



  </div><!-- conatiner -->
</header>
