<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color:lavender;"></div>

    <div class="col-sm-8">
      <div class="container mt-3">
        <form>
          <div class="container mt-3">
            <form>
              <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                  카테고리
                </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" *ngFor="let category of categories">{{category.c_name}}</a>
                  </div>
                </div>

                <input type="text" class="form-control" placeholder="제목을 입력하세요" [(ngModel)]="detailpage.d_title">

              </div>
            </form>
          </div>

          <div class="container">
            <form action="/action_page.php">
              <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="15" id="comment" name="text" placeholder="내용을 입력하세요" [(ngModel)]="detailpage.d_content"></textarea>
                <br />
                <label>목표 모금액:</label>
                <input type="text" [(ngModel)]="detailpage.d_goalmoney">

              </div>
            </form>
          </div>

          <div class="container">
            <label>썸네일이미지:</label>
            <form action="/action_page.php">
              <div class="form-group">
                <input type="file" class="form-control-file border" name="file" [(ngModel)]="detailpage.d_thumbnailimg">
              </div>
            </form>
          </div>

          <div class="container">
            <label>상세이미지:</label>

            <form action="/action_page.php">
              <div class="form-group">
                <input type="file" class="form-control-file border" name="file" [(ngModel)]="detailpage.d_detailimg">
              </div>
            </form>

            <br />
            <input type="text" class="form-control" placeholder="해쉬태그를 입력하세요" [(ngModel)]="hashtags">
            <br /><br />

            <button type="submit" class="btn btn-primary">Submit</button>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <!--해쉬태그 선택-->
            <!-- <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">해쉬태그</button>
          <div id="demo" class="collapse">

          <div class="container">

          <form>
          <label class="checkbox-inline">
          <input type="checkbox" value="">샤넬
        </label>
        <label class="checkbox-inline">
        <input type="checkbox" value="">명품
      </label>
      <label class="checkbox-inline">
      <input type="checkbox" value="">운동화
    </label>
  </form>
</div> -->
