<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color:lavender;"></div>

    <div class="col-sm-8">
      <div class="container mt-3">
        <form>
          <div class="container mt-3">
            <form>
              <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                  카테고리
                </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0)" *ngFor="let category of categories" (click)="getCategoryId(category)">{{category.c_name}}</a>
                  </div>
                </div>

                <input type="text" class="form-control" placeholder="제목을 입력하세요" [(ngModel)]="detailPageForPost.d_title" [ngModelOptions]="{standalone: true}">

              </div>
            </form>
          </div>

          <div class="container">
            <form action="/action_page.php">
              <div class="form-group">
                <!-- <label for="comment">Comment:</label> -->
                <textarea class="form-control" rows="15" id="comment" name="text" placeholder="내용을 입력하세요" [(ngModel)]="detailPageForPost.d_content" [ngModelOptions]="{standalone: true}">></textarea>
                <br />
                <label>목표 모금액:</label>
                <input type="text" [(ngModel)]="detailPageForPost.d_goalmoney" [ngModelOptions]="{standalone: true}">

              </div>
            </form>
          </div>

          <div class="container">
            <label>썸네일이미지:</label>
            <form [formGroup]="form">
              <div class="form-group">
                <div class="btns clearfix">
                  <label class="btn btn-file btn-cancel pull-left">
                    <input type="file" accept="image/jpeg"
                      (change)="onSubmit(thumbnailimg.files,'thumbnailImgFile')" #thumbnailimg>
                  </label>
                </div>
              </div>
              <label>상세이미지:</label>
              <div class="form-group">
                <div class="btns clearfix">
                  <label class="btn btn-file btn-cancel pull-left">
                    <input type="file" accept="image/jpeg"
                      (change)="onSubmit(detailimg.files,'detailImgFile')" #detailimg>
                  </label>
                </div>
              </div>
            </form>
          </div>

          <div class="container">
            <label>해쉬태그:</label>


            <br />
            <input type="text" class="form-control" placeholder="해쉬태그를 입력하세요" [(ngModel)]="hashtags" [ngModelOptions]="{standalone: true}">
            <br /><br />

            <button type="submit" class="btn btn-primary" (click)="postDetailpage()">Submit</button>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
